{{#each this}}
<section class="form-inline" style="padding-left:20px;">
	<div class="form-group">
		<label class="sr-only" for="cedula[{{@index}}]">C.I</label>
		<input type="text" class="form-control cedula" name="cedula[{{@index}}]" data-validation="cedulaVe" placeholder="Cédula Ej. V18123456" data-validation="required" maxlength="12"  >
	</div>
	<div class="form-group">
		<label class="sr-only" for="nombre[{{@index}}]">Nombre</label>
		<input type="text" class="form-control nombre" name="nombre[{{@index}}]" placeholder="Nombre" data-validation="length" data-validation-length="1-120" >
	</div>
	<div class="form-group">
		<label class="sr-only" for="telef[{{@index}}]">Teléfono</label>
		<input type="text" class="form-control telefono" name="telef[{{@index}}]" placeholder="Teléfono Ej. 0416098123"  data-validation="phoneVe"   maxlength="11">
	</div>
	<div class="form-group">
		<label class="sr-only" for="foto[{{@index}}]">Foto</label>
		<input style="display:inline" type="file" name="foto[{{@index}}]"  class="uploadimage" data-validation="size" data-validation-max-size="1M">
		<img style="display:none;"  class="" width="32" height="32">
	</div>
	<hr>
</section>
{{/each}}
<div class="form-inline">
	<div class="row">
		<div class="col-sm-7">
			<div id="errormsg" class="alert alert-warning" role="alert" style="margin-left:15px;margin-right:15px;">
			</div>
		</div>
		<div class="col-sm-3 ">
			<button type="submit"  class="btn btn-primary portafolio" style="padding-left:11px;padding-right:11px;float:right;font-size:1.2em;" data-loading-text="Cargando...">
				Guardar
				<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
			</button>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>