    <div class="row" >
        {{#each items}}
        <div class="col-lg-4 busquedaimg" data-info='{{#stringify this}}{{/stringify}}'>
         <h3 class="ellipsis" title="{{nombre}}">{{nombre}}</h3>
         {{#if urllocal}}
         <img src="{{urllocal}}" class="img-responsive" style="margin-top:0px;">
        {{else}}
            <img src="images/et.png" class="img-responsive" style="margin-top:0px;">
        {{/if}}
            <div class="descripcion">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="des_detalle1">Pabellon</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                    <label class="des_detalle1">{{pabellon}}</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="des_detalle2">Local(s):{{stand}}</label>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
