    <div class="row" >
        {{#each items}}
        <div class="col-lg-4 busquedaimg" data-info='{{#stringify this}}{{/stringify}}'>
         <h3 class="ellipsis" style="font-size:1.2em;" title="{{nombre}}">{{nombre}}</h3>
         {{#if urllogo}}
            <img src="{{urllogo}}" class="img-responsive" style="margin-top:0px;" >
        {{else}}
            <img src="images/et.png" class="img-responsive"  style="margin-top:0px;">
        {{/if}}
            <div class="descripcion">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="des_detalle1" for="pabe1">Pabellon</label>
                         <label class="des_detalle1" name="pabe1">{{pabellon}}</label>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
