<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="row">
             
        <div class="product-chooser-item col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <a href="#/noticias/{{postName}}"><img src="{{thumbnail}}"  class="img-responsive col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
            </a>

            <div class="parrafo col-xs-8 col-sm-8 col-md-12 col-lg-12">
                <span class="title"><a href="#/noticias/{{postName}}">{{title}}</a></span>
                <span class="description">{{{truncate description 150}}}</span>
                <input type="radio" name="product" value="mobile">
            </div>

            <div class="clear"></div>
             </div>
     
        </div>
        
    </div>
</div>