<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" style="font-weight:bold;font-size: 2em;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <h4 style="font-weight:bold;" class="modal-title ellipsis" title="{{title}}">{{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div>
                        <div class="imagenes_not img-responsive">
                        {{{ifimg photo}}}
                        </div>
                        </br>
                        <p style="margin-left:auto;margin-right:auto; text-align: justify; word-wrap:break-word; font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;" class="capitalize" >
                        {{{content}}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer modalrfoot">
            <label class="des_detalle2">Local(s):{{local}}</label>
        </div>
    </div>
</div>